body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}


.app-bar {
    background: linear-gradient(#3d565e, #012733); 
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 30px; /* Adjust the height of the logo */
    margin-right: 10px;
}

.menu {
    display: flex;
}

.menu-item {
    margin-right: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.login-btn {
    background-color: #FFD700;
    color: black;
  
    padding: 10px 15px;
    cursor: pointer;
}

.home-page-face {
    height: 35px;
}



.highlight{
  padding: 1px;
  font-size:25px;
  
  color:#3d565e ;
  text-align:center;
 
}

.block1{
  background-color:#EBEEEE;
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Allow items to wrap if necessary */
  align-items: center; /* Center items vertically */
}

.block1_text{
  
  text-align: center;
  display: inline;
  flex: 1; /* Take up remaining space */
  padding-left:79px;
  font-size: 29px;
}
/* use flex, to position elements horizontally */
.block1_img{
  width: 400px; /* Set the width of the image to 200 pixels */
  height: 300px; /* Set the height of the image to 150 pixels */
  padding-right: 170px;
  padding-left: 11px;
}

.describe{
  background: linear-gradient(to bottom right,#3d565e, #192225,#50666E, #12191c, #3d565e, #012733); 
  height:auto;
  width: auto;
  margin: 20px;
  color:white;
  margin: 20px;
  padding-top:2px;
}

h3{
  font-size:40px;
  color:#77888e; 
  font-family: "Lucida Console";
  text-align: center;
  text-decoration: underline;
}



/* image on left, text on right*/

.describe1, .describe3 {
    display: flex;
}

.describe1_text {
    flex: 1;
    order: 2;
    margin-bottom:29px;
    font-size:26px;
    padding: 49px;
    padding-bottom: 0px;
}

.describe1_img {
    order: 1;
  padding: 49px;
  height:270px;
  width:360px;
}

.describe1_link {
    order: 2;
    margin-right:70px;
    padding: 49px;
    color: #B9D9EB;
}

.describe2 {
    display: flex;
}

.describe2_text {
    flex: 1;
    order: 1;
    margin-bottom:29px;
    font-size:26px;
    padding: 49px;
    padding-bottom: 0px;
}

.describe2_img {
    order: 2;
  padding: 49px;
  height:270px;
  width: 360px;
}

.describe2_link {
    order: 1;
    margin-right:70px;
    padding: 49px;
    color: #B9D9EB;
}

h2{
  color:#FFC72C;
  font-size: 36px;
  text-align: center; 
  background: #30444B;
/*   background: linear-gradient(#243338, #181818); */
  padding-top:10px;
  padding-bottom:10px;
}

.contact_us p{
  text-align: center;
  padding-left:16px;
  font-size:24px;
  padding-bottom:0px;

}

.socials {
    display: flex;
    padding-left:24px;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-size: cover;
    margin-right:20px;
    margin-left:20px;
    margin-top: 15px;
}

.socials p{
  font-size: 22px;
}

.facebook {
    background-image: url('https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-512.png'); /* Replace 'facebook-icon.png' with the path to your Facebook icon */
}

.twitter {
    background-image: url('https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/x-social-media-white-icon.png'); /* Replace 'twitter-icon.png' with the path to your Twitter icon */
}

.instagram {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCE0VbScSR6mt6NCbNZTgSE3RbJtNMIgQ1MdtYFkMaiA&s'); /* Replace 'instagram-icon.png' with the path to your Instagram icon */
}


/*footer*/
.footer{
  padding: 2px;
  height: auto;
  width:auto;
  background: linear-gradient(#000000, #012733);
  color: white; 
  text-align: center;
}

.footer_left{
  display:inline;
  margin:10px;
}


.footer_left{
   display:inline;
  padding-left:8px;
}

