/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

/* Universal styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/*
.bg-image{
  background-image: url(images/contact.jpg); 
  background-size:cover;
  background-position:center center;
  height: 100vh;
  position:fixed;
  left:0;
  right:0;
  z-index:-1;
}
*/
form {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#98c1d9, #3d5a80);
  width:400px;
  border-radius: 10px;
  overflow: hidden;
-webkit-box-shadow: 0px 0px 40px 9px rgba(0,0,0,0.6); 
box-shadow: 0px 0px 40px 9px rgba(0,0,0,0.4);
}

.head {
  background: linear-gradient(#64cef1, #012733);
  margin-bottom: 10px;
  padding: 15px;
}

.head h1,
p {
  text-align: center;
  color: white;
}

.head p {
  font-size: 12px;
}

label {
  margin-left: 20px;
}

input,
textarea {
  padding: 10px;
  margin: 5px 20px 20px 20px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  border: 1px solid rgb(0, 132, 255);
}

textarea {
  resize: vertical;
}

button {
  outline: none;
  background:linear-gradient(#38c3f1, #227088);
  border: none;
  padding: 10px;
  border-radius: 50px;
  margin: 10px;
  color: rgb(247, 213, 213);
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  background:#036280;
}


@media screen and (max-width: 417px){
  form{
    width:100%;
    height:100%;
  }
}